<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.CouponMapper">
	<!-- mypage 수령 가능 쿠폰 목록 -->
	<select id="promotionCouponListData" parameterType="String" resultType="PromotionCouponVO">
		SELECT pcno, title, userid, discount, type, target, TO_CHAR(startdate, 'YYYY-MM-DD') as startDay, TO_CHAR(enddate, 'YYYY-MM-DD') as endDay 
		FROM promotion_coupon WHERE (sysdate BETWEEN startdate AND endDate) AND pcno NOT IN (SELECT pcno FROM my_coupon WHERE recvid=#{id}) ORDER BY discount DESC
	</select>
	
	<!-- mypage 쿠폰 수령 -->
	<insert id="getCoupon" parameterType="MyCouponVO">
	INSERT INTO my_coupon VALUES((SELECT NVL(MAX(MCNO)+1, 1) FROM my_coupon), #{title}, #{pcno}, #{recvid}, #{discount}, #{pcid}, #{startDay}, #{endDay}, 0)
	</insert>
</mapper>