<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.SellerMapper">
	<select id="sellerVisitWeeks" parameterType="String" resultType="VisitVO">
		SELECT TO_CHAR(d.visitDay, 'YYYY-MM-DD') as visitDay, NVL(w.visit_count, 0) AS visitCount
		FROM (SELECT trunc(sysdate) - level + 1 AS visitDay FROM dual CONNECT BY level &lt;= 7) d
		LEFT JOIN (SELECT trunc(visitdate) AS visitDay, COUNT(*) AS visit_count FROM wine_visit
		WHERE trunc(visitdate) BETWEEN trunc(sysdate - 6) AND trunc(sysdate) AND pageid=#{pageid}
		GROUP BY trunc(visitdate)) w
		ON d.visitDay = w.visitDay
		ORDER BY d.visitDay ASC
	</select>
	<select id="sellerSellTypePrice" parameterType="String" resultType="ChartVO">
		SELECT NVL(sum(wp.payment), 0) as price, w.type as type FROM wine_payment wp RIGHT JOIN wine w ON wp.wno=w.wno AND wp.state&lt;7 WHERE w.seller=#{userid} AND trunc(sysdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate) GROUP BY w.type
		ORDER BY CASE
		WHEN w.type = '레드' THEN 1
		WHEN w.type = '화이트' THEN 2
		WHEN w.type = '스파클링' THEN 3
		WHEN w.type = '로제' THEN 4
		WHEN w.type = '주정강화' THEN 5
		WHEN w.type = '기타' THEN 6
		end
	</select>
	<select id="sellerSellTypeAccount" parameterType="String" resultType="ChartVO">
		SELECT NVL(sum(wp.account), 0) as account, w.type as type FROM wine_payment wp RIGHT JOIN wine w ON wp.wno=w.wno AND wp.state&lt;7 WHERE w.seller=#{userid} AND trunc(sysdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate) GROUP BY w.type
		ORDER BY CASE
		WHEN w.type = '레드' THEN 1
		WHEN w.type = '화이트' THEN 2
		WHEN w.type = '스파클링' THEN 3
		WHEN w.type = '로제' THEN 4
		WHEN w.type = '주정강화' THEN 5
		WHEN w.type = '기타' THEN 6
		end
	</select>
	<select id="sellerAddrPrice" parameterType="String" resultType="ChartVO">
		SELECT CASE WHEN INSTR(addrEng, '-') > 0 THEN SUBSTR(addrEng, 1, INSTR(addrEng, '-') - 1)
		ELSE addrEng END AS addr, sum(payment) as price FROM wine_payment w JOIN wine_delivery wd ON w.wdno=wd.wdno JOIN wine ON w.wno=wine.wno WHERE wine.seller=#{userid} AND trunc(sysdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate) GROUP BY addrEng
	</select>
	<select id="sellerMoreInfoCount" parameterType="String" resultType="java.util.Map">
		SELECT
		SUM(CASE WHEN type = 'sale' THEN count ELSE 0 END) AS sale,
		SUM(CASE WHEN type = 'coupon' THEN count ELSE 0 END) AS coupon,
		SUM(CASE WHEN type = 'banner' THEN count ELSE 0 END) AS banner,
		SUM(CASE WHEN type = 'noanswer' THEN count ELSE 0 END) AS noanswer
		FROM(
		SELECT COUNT(*) AS count, 'sale' AS type FROM promotion_sale WHERE userid=#{userid} AND state=1
		UNION ALL
		SELECT COUNT(*) AS count, 'coupon' AS type FROM promotion_coupon WHERE userid=#{userid} AND state=1
		UNION ALL
		SELECT COUNT(*) AS count, 'banner' AS type FROM promotion_banner WHERE userid=#{userid} AND state=1
		UNION ALL
		SELECT COUNT(*) as count, 'noanswer' as type FROM wine_replyboard WHERE recvid=#{userid} AND type=1 AND group_step=0 AND isreply=0)
	</select>
	<select id="sellerPaymentInfoCount" parameterType="String" resultType="java.util.Map">
		SELECT
		COUNT(case when wp.state=0 then 1 end) as payend,
		COUNT(case when wp.state=1 then 1 end) as delwait,
		COUNT(case when wp.state=2 then 1 end) as delactive,
		COUNT(case when wp.state=3 then 1 end) as delend,
		COUNT(case when wp.state=7 then 1 end) as returnrequest,
		COUNT(case when wp.state=8 then 1 end) as sellercancel,
		COUNT(case when wp.state=9 then 1 end) as returnend
		FROM wine_payment wp JOIN wine w ON wp.wno=w.wno
		WHERE w.seller=#{userid} AND trunc(wp.regdate) BETWEEN trunc(sysdate-6) AND trunc(SYSDATE)
	</select>
	<select id="sellerWeekChart" parameterType="String" resultType="ChartVO">
		WITH dates AS (
		SELECT TRUNC(SYSDATE) - LEVEL + 1 AS datess
		FROM dual
		CONNECT BY LEVEL &lt;= 7)
		SELECT to_char(d.datess, 'MM-DD') as dbday, NVL(SUM(wp.payment), 0) AS payment, NVL(SUM(wp.account), 0) as account
		FROM dates d LEFT JOIN wine_payment wp ON d.datess = TRUNC(wp.regdate) AND wp.state &lt; 7
		LEFT JOIN wine w ON wp.wno = w.wno AND w.seller = #{userid}
		GROUP BY d.datess
		ORDER BY d.datess DESC
	</select>
	<select id="sellerVisitChart" parameterType="String" resultType="ChartVO">
		SELECT
		sum(case WHEN type='visit' then count else 0 End) as visit,
		sum(case WHEN type='payment' then count else 0 End) as payment,
		sum(case WHEN type='account' then count else 0 End) as account
		FROM(
		SELECT COUNT(*) as count, 'visit' as type FROM wine_visit WHERE pageid=#{userid} AND trunc(visitdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate)
		UNION ALL
		SELECT COUNT(*) as count, 'payment' as type FROM wine_payment wp JOIN wine w ON wp.wno=w.wno WHERE w.seller=#{userid} AND trunc(wp.regdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate) AND wp.state&lt;7
		UNION ALL
		SELECT sum(account) as count, 'account' as type FROM wine_payment wp JOIN wine w ON wp.wno=w.wno WHERE w.seller=#{userid} AND trunc(wp.regdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate) AND wp.state&lt;7)
	</select>
	<select id="sellerSalePromotionChart" parameterType="int" resultType="java.util.Map">
		WITH daterange AS (
		SELECT trunc(enddate) - trunc(startdate) AS drange
		FROM promotion_sale
		WHERE psno = #{psno}
		)
		SELECT
		'before' AS period, 1 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.startdate) - drange - 1 AND trunc(ps.startdate) - 1 THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.startdate) - drange - 1 AND trunc(ps.startdate) - 1 THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.startdate) - drange - 1 AND trunc(ps.startdate) - 1 THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.startdate) - drange - 1 AND trunc(ps.startdate) - 1) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		))
		OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.startdate) - drange - 1 AND trunc(ps.startdate) - 1) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		)) OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.startdate) - drange - 1 AND trunc(ps.startdate) - 1) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		)) OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_sale ps ON ps.userid = w.seller AND ps.psno = #{psno}
		JOIN daterange ON 1 = 1

		UNION ALL

		SELECT
		'event' AS period, 2 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.startdate) AND trunc(ps.enddate) THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.startdate) AND trunc(ps.enddate) THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.startdate)
		AND trunc(ps.enddate) THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.startdate) AND trunc(ps.enddate)) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		)) OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.startdate) AND trunc(ps.enddate)) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		)) OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.startdate) AND trunc(ps.enddate)) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		)) OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_sale ps ON ps.userid = w.seller
		AND ps.psno = #{psno}
		JOIN daterange ON 1 = 1

		UNION ALL

		SELECT
		'after' AS period, 3 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.enddate) + 1 AND trunc(ps.enddate) + 1 + drange THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.enddate) + 1 AND trunc(ps.enddate) + 1 + drange THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(ps.enddate) + 1 AND trunc(ps.enddate) + 1 + drange THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.enddate) + 1 AND trunc(ps.enddate) + 1 + drange) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		)) OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.enddate) + 1 AND
		trunc(ps.enddate) + 1 + drange) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		)) OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(ps.enddate) + 1 AND trunc(ps.enddate) + 1 + drange) AND (ps.type = 1 OR
		(ps.type = 2 AND (
		(w.type = '레드' AND ps.target = 1) OR
		(w.type = '화이트' AND ps.target = 2) OR
		(w.type = '로제' AND ps.target = 3) OR
		(w.type = '스파클링' AND ps.target = 4) OR
		(w.type = '주정강화' AND ps.target = 5) OR
		(w.type = '기타' AND ps.target = 6)
		)) OR
		(ps.type = 3 AND wp.wno = ps.target)) THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_sale ps ON ps.userid = w.seller AND ps.psno = #{psno}
		JOIN daterange ON 1 = 1
		order by sortnum
	</select>
	<select id="sellerCouponPromotionChart" parameterType="int" resultType="ChartVO">
		WITH daterange AS (
		SELECT trunc(enddate) - trunc(startdate) AS drange
		FROM promotion_coupon
		WHERE pcno = #{pcno}
		)
		SELECT
		'before' AS period, 1 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.startdate) - drange - 1 AND trunc(pc.startdate) - 1 THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.startdate) - drange - 1 AND trunc(pc.startdate) - 1 THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.startdate) - drange - 1 AND trunc(pc.startdate) - 1 THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.startdate) - drange - 1 AND trunc(pc.startdate) - 1) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		))
		OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.startdate) - drange - 1 AND trunc(pc.startdate) - 1) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		)) OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.startdate) - drange - 1 AND trunc(pc.startdate) - 1) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		))
		OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_coupon pc ON pc.userid = w.seller AND pc.pcno = #{pcno}
		JOIN daterange ON 1 = 1

		UNION ALL

		SELECT
		'event' AS period, 2 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.startdate) AND trunc(pc.enddate) THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.startdate) AND trunc(pc.enddate) THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.startdate)
		AND trunc(pc.enddate) THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.startdate) AND trunc(pc.enddate)) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		)) OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.startdate) AND trunc(pc.enddate)) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		)) OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.startdate) AND trunc(pc.enddate)) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		))
		OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_coupon pc ON pc.userid = w.seller
		AND pc.pcno = #{pcno}
		JOIN daterange ON 1 = 1

		UNION ALL

		SELECT
		'after' AS period, 3 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.enddate) + 1 AND trunc(pc.enddate) + 1 + drange THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.enddate) + 1 AND trunc(pc.enddate) + 1 + drange THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pc.enddate) + 1 AND trunc(pc.enddate) + 1 + drange THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.enddate) + 1 AND trunc(pc.enddate) + 1 + drange) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		)) OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.enddate) + 1 AND trunc(pc.enddate) + 1 + drange) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		)) OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pc.enddate) + 1 AND trunc(pc.enddate) + 1 + drange) AND (pc.type = 1 OR
		(pc.type = 2 AND (
		(w.type = '레드' AND pc.target = 1) OR
		(w.type = '화이트' AND pc.target = 2) OR
		(w.type = '로제' AND pc.target = 3) OR
		(w.type = '스파클링' AND pc.target = 4) OR
		(w.type = '주정강화' AND pc.target = 5) OR
		(w.type = '기타' AND pc.target = 6)
		))
		OR
		(pc.type = 3 AND wp.wno = pc.target)) THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_coupon pc ON pc.userid = w.seller AND pc.pcno = #{pcno}
		JOIN daterange ON 1 = 1
		order by sortnum
	</select>
	<select id="sellerBannerPromotionChart" parameterType="int" resultType="ChartVO">
		WITH daterange AS (
		SELECT trunc(enddate) - trunc(startdate) AS drange
		FROM promotion_banner
		WHERE pbno = #{pbno}
		)
		SELECT
		'before' AS period, 1 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.startdate) - drange - 1 AND trunc(pb.startdate) - 1 THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.startdate) - drange - 1 AND trunc(pb.startdate) - 1 THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.startdate) - drange - 1 AND trunc(pb.startdate) - 1 THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.startdate) - drange - 1 AND trunc(pb.startdate) - 1) AND w.wno=pb.wno THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.startdate) - drange - 1 AND trunc(pb.startdate) - 1) AND w.wno=pb.wno THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.startdate) - drange - 1 AND trunc(pb.startdate) - 1) AND w.wno=pb.wno THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_banner pb ON pb.userid = w.seller AND pb.pbno = #{pbno}
		JOIN daterange ON 1 = 1

		UNION ALL

		SELECT
		'event' AS period, 2 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.startdate) AND trunc(pb.enddate) THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.startdate) AND trunc(pb.enddate) THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.startdate)
		AND trunc(pb.enddate) THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.startdate) AND trunc(pb.enddate)) AND w.wno=pb.wno THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.startdate) AND trunc(pb.enddate)) AND w.wno=pb.wno THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.startdate) AND trunc(pb.enddate)) AND w.wno=pb.wno THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_banner pb ON pb.userid = w.seller
		AND pb.pbno = #{pbno}
		JOIN daterange ON 1 = 1

		UNION ALL

		SELECT
		'after' AS period, 3 as sortnum,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.enddate) + 1 AND trunc(pb.enddate) + 1 + drange THEN wp.payment ELSE 0 END) AS price,
		COUNT(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.enddate) + 1 AND trunc(pb.enddate) + 1 + drange THEN 1 ELSE NULL END) AS count,
		SUM(CASE WHEN trunc(wp.regdate) BETWEEN trunc(pb.enddate) + 1 AND trunc(pb.enddate) + 1 + drange THEN wp.account ELSE 0 END) AS account,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.enddate) + 1 AND trunc(pb.enddate) + 1 + drange) AND w.wno=pb.wno THEN wp.payment ELSE 0 END) AS saleprice,
		COUNT(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.enddate) + 1 AND trunc(pb.enddate) + 1 + drange) AND w.wno=pb.wno THEN 1 ELSE NULL END) AS salecount,
		SUM(CASE WHEN (trunc(wp.regdate) BETWEEN trunc(pb.enddate) + 1 AND trunc(pb.enddate) + 1 + drange) AND w.wno=pb.wno THEN wp.account ELSE 0 END) AS saleaccount
		FROM wine_payment wp
		JOIN wine w ON w.wno = wp.wno
		JOIN promotion_banner pb ON pb.userid = w.seller AND pb.pbno = #{pbno}
		JOIN daterange ON 1 = 1
		order by sortnum
	</select>
</mapper>