<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.SellerMapper">
	<select id="sellerVisitWeeks" parameterType="String" resultType="VisitVO">
		SELECT TO_CHAR(d.visitDay, 'YYYY-MM-DD') as visitDay, NVL(w.visit_count, 0) AS visitCount
		FROM (SELECT trunc(sysdate) - level + 1 AS visitDay FROM dual CONNECT BY level &lt;= 7) d
		LEFT JOIN (SELECT trunc(visitdate) AS visitDay, COUNT(*) AS visit_count FROM wine_visit
		WHERE trunc(visitdate) BETWEEN trunc(sysdate - 6) AND trunc(sysdate) AND pageid=#{pageid}
		GROUP BY trunc(visitdate)) w
		ON d.visitDay = w.visitDay
		ORDER BY d.visitDay ASC
	</select>
	<select id="sellerSellTypePrice" parameterType="String" resultType="ChartVO">
		SELECT NVL(sum(wp.payment), 0) as price, w.type as type FROM wine_payment wp RIGHT JOIN wine w ON wp.wno=w.wno AND wp.state&lt;7 WHERE w.seller=#{userid} AND trunc(sysdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate) GROUP BY w.type
		ORDER BY CASE
		WHEN w.type = '레드' THEN 1
		WHEN w.type = '화이트' THEN 2
		WHEN w.type = '스파클링' THEN 3
		WHEN w.type = '로제' THEN 4
		WHEN w.type = '주정강화' THEN 5
		WHEN w.type = '기타' THEN 6
		end
	</select>
	<select id="sellerSellTypeAccount" parameterType="String" resultType="ChartVO">
		SELECT NVL(sum(wp.account), 0) as account, w.type as type FROM wine_payment wp RIGHT JOIN wine w ON wp.wno=w.wno AND wp.state&lt;7 WHERE w.seller=#{userid} AND trunc(sysdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate) GROUP BY w.type
		ORDER BY CASE
		WHEN w.type = '레드' THEN 1
		WHEN w.type = '화이트' THEN 2
		WHEN w.type = '스파클링' THEN 3
		WHEN w.type = '로제' THEN 4
		WHEN w.type = '주정강화' THEN 5
		WHEN w.type = '기타' THEN 6
		end
	</select>
	<select id="sellerAddrPrice" parameterType="String" resultType="ChartVO">
		SELECT CASE WHEN INSTR(addrEng, '-') > 0 THEN SUBSTR(addrEng, 1, INSTR(addrEng, '-') - 1)
		ELSE addrEng END AS addr, sum(payment) as price FROM wine_payment w JOIN wine_delivery wd ON w.wdno=wd.wdno JOIN wine ON w.wno=wine.wno WHERE wine.seller=#{userid} AND trunc(sysdate) BETWEEN trunc(sysdate-6) AND trunc(sysdate) GROUP BY addrEng
	</select>
	<select id="sellerMoreInfoCount" parameterType="String" resultType="java.util.Map">
		SELECT
		SUM(CASE WHEN type = 'sale' THEN count ELSE 0 END) AS sale,
		SUM(CASE WHEN type = 'coupon' THEN count ELSE 0 END) AS coupon,
		SUM(CASE WHEN type = 'banner' THEN count ELSE 0 END) AS banner,
		SUM(CASE WHEN type = 'noanswer' THEN count ELSE 0 END) AS noanswer
		FROM(
		SELECT COUNT(*) AS count, 'sale' AS type FROM promotion_sale WHERE userid=#{userid} AND state=1
		UNION ALL
		SELECT COUNT(*) AS count, 'coupon' AS type FROM promotion_coupon WHERE userid=#{userid} AND state=1
		UNION ALL
		SELECT COUNT(*) AS count, 'banner' AS type FROM promotion_banner WHERE userid=#{userid} AND state=1
		UNION ALL
		SELECT COUNT(*) as count, 'noanswer' as type FROM wine_replyboard WHERE recvid=#{userid} AND type=1 AND group_step=0 AND isreply=0)
	</select>
	<select id="sellerPaymentInfoCount" parameterType="String" resultType="java.util.Map">
		SELECT
		COUNT(case when wp.state=0 then 1 end) as payend,
		COUNT(case when wp.state=1 then 1 end) as delwait,
		COUNT(case when wp.state=2 then 1 end) as delactive,
		COUNT(case when wp.state=3 then 1 end) as delend,
		COUNT(case when wp.state=7 then 1 end) as returnrequest,
		COUNT(case when wp.state=8 then 1 end) as sellercancel,
		COUNT(case when wp.state=9 then 1 end) as returnend
		FROM wine_payment wp JOIN wine w ON wp.wno=w.wno
		WHERE w.seller=#{userid} AND trunc(wp.regdate) BETWEEN trunc(sysdate-6) AND trunc(SYSDATE)
	</select>
	<select id="sellerWeekChart" parameterType="String" resultType="ChartVO">
		WITH dates AS (
		SELECT TRUNC(SYSDATE) - LEVEL + 1 AS datess
		FROM dual
		CONNECT BY LEVEL &lt;= 7)
		SELECT to_char(d.datess, 'MM-DD') as dbday, NVL(SUM(wp.payment), 0) AS payment, NVL(SUM(wp.account), 0) as account
		FROM dates d LEFT JOIN wine_payment wp ON d.datess = TRUNC(wp.regdate) AND wp.state &lt; 7
		LEFT JOIN wine w ON wp.wno = w.wno AND w.seller = #{userid}
		GROUP BY d.datess
		ORDER BY d.datess DESC
	</select>
</mapper>