<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.WineMapper">
	<resultMap type="com.sist.vo.WineVO" id="wineMap">
		<result property="mvo.nickName" column="nickname" />
	</resultMap>
	<!-- 와인 목록 출력 -->
	<select id="wineListData" resultType="WineVO" parameterType="hashmap">
		SELECT wno, namekor, nameeng, type, price, poster, num
		FROM (SELECT wno, namekor, nameeng, type, price, poster, rownum as num
		FROM (SELECT wno,
		namekor, nameeng, type, price, poster
		FROM wine
		<where>
			<if test="sugar!=0">AND sugar = #{sugar}</if>
			<if test="body!=0">AND body = #{body}</if>
			<if test="acid!=0">AND acid = #{acid}</if>
			<if test="tannin!=0">AND tannin = #{tannin}</if>
			<if test="price!='전체'">AND TO_NUMBER(NVL(REPLACE(REPLACE(price, '원', ''), ',', ''), '30000000'))&lt;= TO_NUMBER(#{price})</if>
			<if test="types!='전체'">
				AND type IN
				<foreach item="type" index="index" collection="types.split(',')" open="(" separator="," close=")">
					#{type}
				</foreach>
			</if>
		</where>
		ORDER BY wno ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 와인 검색 출력 -->
	<select id="wineFindList" resultMap="wineMap" parameterType="hashmap">
		SELECT wno, namekor, poster, seller, (SELECT nickname FROM wine_member WHERE wine.seller=wine_member.userid) as nickname FROM wine WHERE namekor LIKE '%'||#{fd}||'%'
		<if test="id!='' and id != null">AND seller=#{id}</if>
	</select>

	<select id="wineFindData" resultMap="wineMap" parameterType="String">
		SELECT wno, namekor, nameeng, type, poster, maker, grape, nation, nickname
		FROM(
		SELECT w.wno, w.namekor, w.nameeng, w.type, w.poster, (SELECT m.namekor FROM maker m WHERE m.no = w.maker) AS maker,
		(SELECT LISTAGG(g.namekor, ', ') WITHIN GROUP (ORDER BY g.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(w.grape, '[^,]+', 1, LEVEL) AS grape_no
		FROM dual CONNECT BY REGEXP_SUBSTR(w.grape, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN grape g ON t.grape_no = g.no) AS grape,
		(SELECT LISTAGG(n.namekor, ' | ') WITHIN GROUP (ORDER BY n.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(w.nation, '[^,]+', 1, LEVEL) AS nation_no
		FROM dual CONNECT BY REGEXP_SUBSTR(w.nation, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN nation n ON t.nation_no = n.no) AS nation,
		wm.nickname
		FROM wine w JOIN wine_member wm ON w.seller=wm.userid ORDER BY wno DESC)
		WHERE (type LIKE '%'||#{fd}||'%' OR grape LIKE '%'||#{fd}||'%' OR nation LIKE '%'||#{fd}||'%' OR namekor LIKE '%'||#{fd}||'%' OR maker LIKE '%'||#{fd}||'%' OR nickname LIKE '%'||#{fd}||'%') AND rownum&lt;=6
	</select>
	<select id="wineFindCount" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM wine w JOIN wine_member wm ON w.seller=wm.userid
		WHERE type LIKE '%'||#{fd}||'%' OR grape LIKE '%'||#{fd}||'%' OR nation LIKE '%'||#{fd}||'%' OR namekor LIKE '%'||#{fd}||'%' OR maker LIKE '%'||#{fd}||'%' OR nickname LIKE '%'||#{fd}||'%'
	</select>
	<select id="adminWineList" resultMap="wineMap" parameterType="hashmap">
	SELECT wno, namekor, type, poster, maker, grape, nation, nickname, state, nameeng, type, price, vol, sugar, acid, body, tannin, aroma, food, alcohol, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday num
	FROM (SELECT wno, namekor, type, poster, maker, grape, nation, nickname, state, nameeng, type, price, vol, sugar, acid, body, tannin, aroma, food, alcohol, regdate, rownum as num 
	FROM (SELECT w.wno, w.namekor, w.nameeng, w.type, w.poster, (SELECT m.namekor FROM maker m WHERE m.no = w.maker) AS maker,
		(SELECT LISTAGG(g.namekor, ', ') WITHIN GROUP (ORDER BY g.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(w.grape, '[^,]+', 1, LEVEL) AS grape_no
		FROM dual CONNECT BY REGEXP_SUBSTR(w.grape, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN grape g ON t.grape_no = g.no) AS grape,
		(SELECT LISTAGG(n.namekor, ' | ') WITHIN GROUP (ORDER BY n.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(w.nation, '[^,]+', 1, LEVEL) AS nation_no
		FROM dual CONNECT BY REGEXP_SUBSTR(w.nation, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN nation n ON t.nation_no = n.no) AS nation,
		wm.nickname, w.nameeng, w.type, w.price, w.vol, w.sugar, w.acid, w.body, w.tannin, w.aroma, w.food, w.alcohol, w.regdate
		FROM wine w JOIN wine_member wm ON w.seller=wm.userid ORDER BY wno DESC
		))
		WHERE (num BETWEEN #{start} AND #{end}) AND state=9
	</select>
</mapper>