<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.WineMapper">
	<resultMap type="com.sist.vo.WineVO" id="wineMap">
		<result property="mvo.nickName" column="nickname" />
	</resultMap>
	<resultMap type="com.sist.vo.LikeVO" id="likeMap">
		<result property="wvo.namekor" column="namekor" />
		<result property="wvo.poster" column="poster" />
		<result property="wvo.type" column="type" />
		<result property="wvo.price" column="price" />
		<result property="wvo.mvo.nickName" column="nickname" />
	</resultMap>
	<resultMap type="com.sist.vo.Wine_PaymentVO" id="payMap">
		<result property="wvo.namekor" column="namekor" />
		<result property="wvo.poster" column="poster" />
		<result property="wvo.price" column="price" />
		<result property="wvo.type" column="type" />
		<result property="wvo.grape" column="grape" />
		<result property="wvo.nation" column="nation" />
		<result property="wvo.maker" column="maker" />
		<result property="wvo.seller" column="seller" />
		<result property="wvo.mvo.nickName" column="nickname" />
		<result property="dvo.name" column="name" />
		<result property="dvo.post" column="post" />
		<result property="dvo.addr1" column="addr1" />
		<result property="dvo.addr2" column="addr2" />
		<result property="dvo.msg" column="msg" />
		<result property="mcvo.title" column="ctitle" />
		<result property="mcvo.discount" column="cdiscount" />
		<result property="svo.title" column="stitle" />
		<result property="svo.discount" column="sdiscount" />
	</resultMap>
	<!-- 와인 목록 출력 -->

	<select id="wineListData2" resultMap="wineMap" parameterType="hashmap">
		SELECT wno, namekor, nameeng, type, price, poster, nickname, num
		FROM (SELECT wno, namekor, nameeng, type, price, poster, nickname, rownum as num
		FROM (SELECT w.wno, w.namekor, w.nameeng, w.type, w.price, w.poster, m.nickname
		FROM wine w JOIN wine_member m ON w.seller=m.userid
		WHERE namekor LIKE '%'||#{fd}||'%'
		<if test="acid!=0">AND acid=#{acid} </if>
		<if test="sugar!=0">AND sugar=#{sugar} </if>
		<if test="body!=0">AND body=#{body} </if>
		<if test="tannin!=0">AND tannin=#{tannin} </if>
		<if test="type!='전체'">
			AND type IN
			<foreach item="type" index="index" collection="type.split(',')" open="(" separator="," close=")">
				#{type}
			</foreach>
		</if>
		<if test="food!='전체'">
			<foreach collection="food.split(',')" item="food">
				AND food LIKE '%'||#{food}||'%'
			</foreach>
		</if>
		<if test="aroma!='전체'">
			<foreach collection="aroma.split(',')" item="aroma">
				AND aroma LIKE '%'||#{aroma}||'%'
			</foreach>
		</if>
		<if test="price!='전체'">AND TO_NUMBER(NVL(REPLACE(REPLACE(price, '원', ''), ',', ''), '30000000'))&lt;= TO_NUMBER(#{price})</if>
		ORDER BY wno DESC
		))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="wineTotalCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM wine WHERE namekor LIKE '%'||#{fd}||'%'
		<if test="acid!=0">AND acid=#{acid} </if>
		<if test="sugar!=0">AND sugar=#{sugar} </if>
		<if test="body!=0">AND body=#{body} </if>
		<if test="tannin!=0">AND tannin=#{tannin} </if>
		<if test="type!='전체'">
			AND type IN
			<foreach item="type" index="index" collection="type.split(',')" open="(" separator="," close=")">
				#{type}
			</foreach>
		</if>
		<if test="food!='전체'">
			<foreach collection="food.split(',')" item="food">
				AND food LIKE '%'||#{food}||'%'
			</foreach>
		</if>
		<if test="aroma!='전체'">
			<foreach collection="aroma.split(',')" item="aroma">
				AND aroma LIKE '%'||#{aroma}||'%'
			</foreach>
		</if>
		<if test="price!='전체'">AND TO_NUMBER(NVL(REPLACE(REPLACE(price, '원', ''), ',', ''), '30000000'))&lt;= TO_NUMBER(#{price})</if>
	</select>
	<!-- 와인 검색 출력 -->
	<select id="wineFindList" resultMap="wineMap" parameterType="hashmap">
		SELECT wno, namekor, poster, seller, (SELECT nickname FROM wine_member WHERE wine.seller=wine_member.userid) as nickname FROM wine WHERE namekor LIKE '%'||#{fd}||'%'
		<if test="id!='' and id != null">AND seller=#{id}</if>
	</select>

	<select id="wineFindData" resultMap="wineMap" parameterType="String">
		SELECT wno, namekor, nameeng, type, poster, maker, grape, nation, nickname
		FROM(
		SELECT w.wno, w.namekor, w.nameeng, w.type, w.poster, (SELECT m.namekor FROM maker m WHERE m.no = w.maker) AS maker,
		(SELECT LISTAGG(g.namekor, ', ') WITHIN GROUP (ORDER BY g.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(w.grape, '[^,]+', 1, LEVEL) AS grape_no
		FROM dual CONNECT BY REGEXP_SUBSTR(w.grape, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN grape g ON t.grape_no = g.no) AS grape,
		(SELECT LISTAGG(n.namekor, ' | ') WITHIN GROUP (ORDER BY n.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(w.nation, '[^,]+', 1, LEVEL) AS nation_no
		FROM dual CONNECT BY REGEXP_SUBSTR(w.nation, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN nation n ON t.nation_no = n.no) AS nation,
		wm.nickname
		FROM wine w JOIN wine_member wm ON w.seller=wm.userid ORDER BY wno DESC)
		WHERE (type LIKE '%'||#{fd}||'%' OR grape LIKE '%'||#{fd}||'%' OR nation LIKE '%'||#{fd}||'%' OR namekor LIKE '%'||#{fd}||'%' OR
		maker LIKE '%'||#{fd}||'%' OR nickname LIKE '%'||#{fd}||'%') AND rownum&lt;=6
	</select>
	<select id="wineFindCount" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM wine w JOIN wine_member wm ON w.seller=wm.userid
		WHERE type LIKE '%'||#{fd}||'%' OR grape LIKE '%'||#{fd}||'%' OR nation LIKE '%'||#{fd}||'%' OR namekor LIKE '%'||#{fd}||'%' OR maker LIKE '%'||#{fd}||'%' OR nickname LIKE '%'||#{fd}||'%'
	</select>
	<select id="adminWineList" resultMap="wineMap" parameterType="hashmap">
		SELECT wno, namekor, type, poster, maker, grape, nation, nickname, state, nameeng, price, vol, sugar, acid, body, tannin, aroma, food, alcohol, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, num
		FROM (SELECT wno, namekor, type, poster, maker, grape, nation, nickname, state, nameeng, price, vol, sugar, acid, body, tannin, aroma, food, alcohol, regdate, rownum as num
		FROM (SELECT w.wno, w.namekor, w.type, w.poster, (SELECT m.namekor FROM maker m WHERE m.no = w.maker) AS maker,
		(SELECT LISTAGG(g.namekor, ', ') WITHIN GROUP (ORDER BY g.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(w.grape, '[^,]+', 1, LEVEL) AS grape_no
		FROM dual CONNECT BY REGEXP_SUBSTR(w.grape, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN grape g ON t.grape_no = g.no) AS grape,
		(SELECT LISTAGG(n.namekor, ' | ') WITHIN GROUP (ORDER BY n.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(w.nation, '[^,]+', 1, LEVEL) AS nation_no
		FROM dual CONNECT BY REGEXP_SUBSTR(w.nation, '[^,]+', 1,
		LEVEL) IS NOT NULL) t JOIN nation n ON t.nation_no = n.no) AS nation,
		wm.nickname, w.nameeng, w.price, w.vol, w.sugar, w.acid, w.body, w.tannin, w.aroma, w.food, w.alcohol, w.regdate, w.state
		FROM wine w JOIN wine_member wm ON w.seller=wm.userid ORDER BY w.wno DESC))
		WHERE (num BETWEEN #{start} AND #{end}) AND state=9
	</select>
	<select id="myPaymentList" parameterType="hashmap" resultMap="payMap">
		SELECT wpno, wno, account, payment, mipoint, wdno, mcno, psno, state, userid, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday,
		namekor, poster, price, type, name, post, addr1, addr2, msg, ctitle, cdiscount, stitle, sdiscount, maker, grape, nation, nickname, seller, num
		FROM (SELECT wpno, wno, account, payment, mipoint, wdno, mcno, psno, state, userid, regdate,
		namekor, poster, price, type, name, post, addr1, addr2, msg, ctitle, cdiscount, stitle, sdiscount, maker, grape, nation, nickname, seller, rownum as num
		FROM (SELECT wp.wpno, wp.wno, wp.account, wp.payment, wp.mipoint, wp.wdno, wp.mcno, wp.psno, wp.state, wp.userid, wp.regdate,
		wvo.namekor, wvo.poster, wvo.price, wvo.type, dvo.name, dvo.post, dvo.addr1, dvo.addr2, dvo.msg, mcvo.title as ctitle, mcvo.discount as cdiscount, svo.title as stitle, svo.discount as sdiscount,
		(SELECT m.namekor FROM maker m WHERE m.no = wvo.maker) AS maker,
		(SELECT LISTAGG(g.namekor, ', ') WITHIN
		GROUP (ORDER BY g.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(wvo.grape, '[^,]+', 1, LEVEL) AS grape_no
		FROM dual CONNECT BY REGEXP_SUBSTR(wvo.grape, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN grape g ON t.grape_no = g.no) AS grape,
		(SELECT LISTAGG(n.namekor, ' | ') WITHIN GROUP (ORDER BY n.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(wvo.nation, '[^,]+', 1, LEVEL) AS nation_no
		FROM dual CONNECT BY REGEXP_SUBSTR(wvo.nation, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN nation n ON t.nation_no = n.no) AS nation,
		(SELECT nickname FROM wine_member wm WHERE wm.userid=wvo.seller) as nickname, wvo.seller
		FROM wine_payment wp JOIN wine wvo ON wp.wno=wvo.wno
		LEFT JOIN wine_delivery dvo ON wp.wdno=dvo.wdno
		LEFT JOIN my_coupon mcvo ON wp.mcno=mcvo.mcno
		LEFT JOIN promotion_sale svo ON wp.psno=svo.psno
		WHERE wp.userid=#{userId}
		ORDER BY wpno DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="adminAllWineList" parameterType="hashmap" resultMap="wineMap">
		SELECT wno, namekor, nameeng, type, price, vol, sugar, acid, body, tannin, aroma, food,
		(SELECT m.namekor FROM maker m WHERE m.no = maker) AS maker,
		(SELECT LISTAGG(g.namekor, ', ') WITHIN GROUP (ORDER BY g.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(grape, '[^,]+', 1, LEVEL) AS grape_no
		FROM dual CONNECT BY REGEXP_SUBSTR(grape, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN grape g ON t.grape_no = g.no) AS grape,
		(SELECT LISTAGG(n.namekor, ' | ') WITHIN GROUP (ORDER BY n.namekor DESC)
		FROM (SELECT REGEXP_SUBSTR(nation, '[^,]+', 1, LEVEL) AS nation_no
		FROM dual CONNECT BY REGEXP_SUBSTR(nation, '[^,]+', 1, LEVEL) IS NOT NULL) t JOIN nation n ON t.nation_no = n.no) AS nation,
		alcohol, seller, nickname, stack, score, hit, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday,
		likecount, poster, state, num
		FROM (SELECT wno, namekor, nameeng, type, price, vol, sugar, acid, body, tannin, aroma, food,
		alcohol, nickname, score, hit, regdate, seller, stack,
		maker, grape, nation, likecount, poster, state, rownum as num
		FROM (SELECT w.wno, w.namekor, w.nameeng, w.type, w.price, w.vol, w.sugar, w.acid, w.body, w.tannin, w.aroma, w.food,
		w.maker, w.grape, w.nation, w.alcohol, w.seller, mem.nickname, w.stack, w.score, w.hit, w.regdate, w.likecount, w.poster, w.state
		FROM wine w JOIN wine_member mem ON w.seller=mem.userid
		WHERE w.state&lt;8 
		<if test="filter!='전체'">
		AND w.state IN 
		<foreach item="filter" index="index" collection="filter.split(',')" open="(" separator="," close=")">
			#{filter} 
		</foreach>
		</if>
		ORDER BY wno DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="adminWinetotalCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(*) FROM wine WHERE state&lt;8
		<if test="filter!='전체'">
		AND state IN 
		<foreach item="filter" index="filter" collection="filter.split(',')" open="(" separator="," close=")">
			#{filter}
		</foreach>
		</if>
	</select>
	<select id="myLikeList" resultMap="likeMap" parameterType="hashmap">
		SELECT lno, wno, namekor, type, poster, price, nickname, num
		FROM (SELECT lno, wno, namekor, type, poster, price, nickname, rownum as num
		FROM (SELECT lno, l.wno, w.namekor, w.type, w.poster, w.price, m.nickname
		FROM winelike l JOIN wine w ON l.wno=w.wno
		JOIN wine_member m ON w.seller=m.userid
		WHERE id=#{userid}))
		WHERE NUM BETWEEN #{start} AND #{end}
	</select>
	<select id="sellerHomeSaleInfo" parameterType="String" resultType="java.util.Map">
		SELECT
		COUNT(case when state=1 then 1 end) as active,
		COUNT(case when state=2 then 1 end) as soldout,
		COUNT(case when state=3 then 1 end) as salestop,
		COUNT(case when state=8 then 1 end) as rejection,
		COUNT(case when state=9 then 1 end) as wait
		FROM wine
		WHERE seller=#{userid}
	</select>
	<select id="sellerHomeWineInfo" parameterType="String" resultType="java.util.Map">
		SELECT
		COUNT(case when type='레드' then 1 end) as red,
		COUNT(case when type='화이트' then 1 end) as white,
		COUNT(case when type='스파클링' then 1 end) as spark,
		COUNT(case when type='로제' then 1 end) as rose,
		COUNT(case when type='주정강화' then 1 end) as alcohol,
		COUNT(case when type='기타' then 1 end) as etc
		FROM wine
		WHERE seller=#{userid} AND state!=7
	</select>
</mapper>