<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<typeAlias type="com.sist.vo.WineVO" alias="WineVO"/>
	<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
	<typeAlias type="com.sist.vo.PromotionCouponVO" alias="PromotionCouponVO"/>
	<typeAlias type="com.sist.vo.MyCouponVO" alias="MyCouponVO"/>
	<typeAlias type="com.sist.vo.PromotionBannerVO" alias="PromotionBannerVO"/>
	<typeAlias type="com.sist.vo.PromotionSaleVO" alias="PromotionSaleVO"/>
	<typeAlias type="com.sist.vo.NoticeBoardVO" alias="NoticeBoardVO"/>
	</typeAliases>
	<mappers>
	<mapper resource="com/sist/mapper/wine_mapper.xml"/>
	<mapper resource="com/sist/mapper/coupon_mapper.xml"/>
	<mapper resource="com/sist/mapper/banner_mapper.xml"/>
	<mapper resource="com/sist/mapper/sale_mapper.xml"/>
	</mappers>
</configuration>