@charset "UTF-8";

.promotion_table {
    width: 1500px;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    padding: 20px;
}

.table-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

#coupon-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

#tmp{
	padding:0px;
}

#coupon-table th, #coupon-table td {
    border: 1px solid #ddd;
    text-align: center;
}

#coupon-table th {
    background-color: #f8f8f8;
    color: #333;
}

#inner-table {
    border: 1px solid #ddd;
    text-align: center;
}

.btn-get-coupon {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-get-coupon:hover {
    background-color: #a93226;
}

.tt th, .tt td {
    border: 1px solid #ddd;
}

.label{
	float:left;
}

.r-box {
    border: 1px solid #e1e1e1; 
    padding: 15px; 
    height: 280px; 
    overflow-y: auto; 
    border-radius: 10px; 
}
.r-boxss {
    border: 1px solid #e1e1e1; 
    padding: 15px; 
    height: 180px; 
    width:350px;
    overflow-y: auto; 
    border-radius: 10px; 
    vertical-align: top;
}
.r-boxs {
    border: 1px solid #e1e1e1; 
    padding: 15px; 
    height: 200px; 
    overflow-y: auto; 
    border-radius: 10px; 
}