@charset "UTF-8";

.namekor {
	font-size: 32px;
	font-weight: bold;
	color: black;
}

.nameeng {
	font-size: 20px;
	color: gray;
	margin-left: 10px;
}

.item, .ti {
	border: 1px solid #ccc;
	padding: 10px 5px 10px 5px;
	text-align: center;
}

.item {
	color: black;
	background-color: #D9D9D9;
}

.listBtn {
	background-color: #96C4FF;
}

.reserveBtn {
    background-color: #DB3774;
}
.reserveBtn, .listBtn {
	cursor: pointer;
	margin-top: 20px;
	padding: 0px;
	width: 200px;
	height: 50px;
	align-content: center;
	font-weight:bold;
	border: none;
	border-radius: 20px;
	color: white;
	margin-left: 5px;
}

.header-line {
	border-top: 3px solid black;
	margin-top: 10px;
}

.button-container {
	text-align: center;
	margin-top: 20px;
}

#flavor {
	display: flex;
	display: flex;
	gap: 20px;
}

.left-align {
	text-align: left;
}

.fa-circle {
	color: lightgray;
}

.fa-circle.filled {
	color: #CF1D56;
}

.wine-type {
	display: inline-block;
	padding: 3px 8px; 
	border-radius: 10px; 
	font-weight: bold;
	font-size: 14px; 
}

.type-red {
	color: #fff;
	background-color: #bb2d3b;
	border: 1px solid #dc3545; 
}

.type-white {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #000000;
}
