@charset "UTF-8";

#itemList{
    max-width: 1200px;
    margin: 0 auto;
	margin-left: 10px;
}

.table-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.mp {
    width: 100% !important;
    max-width: 1200px;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.mp th, .mp td {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.mp th {
    background-color: #f8f8f8;
    color: #333;
}

.btn {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-wine {
    background-color: #c0392b;
    color: white;
    border: none;
}

.btn-wine:hover {
    background-color: #a93226;
}

.pagination {
	cursor: pointer;
}

.pagination .page-item.active .page-link {
    background-color: #881824; 
    color: white; 
    border: solid 1px #881824 !important;
}

.pagination .page-item .page-link {
    color: #881824; 
    border: solid 1px #881824 !important;
}

.pagination .page-item .page-link:hover {
    background-color: #f1f1f1; 
}

.mp th, .mp td{
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
.editable {
	text-decoration: underline;
	text-underline-position: under;
	cursor: pointer;
}
.ilisttable
{	
	table-layout: fixed;
	text-align: center;
}
#ilistth{
	background-color: #f8f8f8;
    color: #333;
}
.itemlistright {
    display: inline-block; 
    align-items: center; 
    justify-content: space-between; 
    padding-right: 5px;
}

.itemlisttop{
 	font-weight: bold;
 	margin-bottom: 8px;
}
#icountdata{ 
	color:#333;
	text-align:left;
	margin-right: 45px;
	font-weight: bold;
}
.fleft{
	text-align:left;
	margin-right: 5px;
	font-weight: 500;
	border-radius: 5px;
	height:35px;
}
.rbtn{
	background-color: #ae3767;
	border-radius: 10px;
	witdh:30px;
	height:40px;
	border-color: white;
	color:white;
	text-align:left;
}
.sbtn{
	background-color: darkred;
	border-radius: 10px;
	witdh:220px !important;
	height:40px;
	border-color: white;
	color:white;
	float:right;
	margin-right:10px;
	
}
.dbtn{
	background-color: #515151;
	border-radius: 10px;
	witdh:150px;
	height:40px;
	border-color: white;
	color:white;
	float:right;
}