.table {
	width: 100%;
	border-collapse: collapse;
}
.table th, .table td {
	border: 1px solid #ddd;
}
.table th {
	background-color: #f2f2f2;
}
.btn {
	cursor: pointer;
	color: white;
	background-color: red; 
	border: none;
	border-radius: 5px;
}
