@charset "UTF-8";

.notice_list {
	position: absolute;
	z-index: 1000;
	top: 88px;
	width: 450px;
	height: 600px;
	min-width: 10rem;
	padding: .5rem 0;
	margin: 0;
	font-size: 1rem;
	color: #747d88;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 10px;
	min-width: 10rem;
	overflow-y: auto;
	color: #333;
}

.notice_list::before {
	content: "";
	position: absolute;
	top: -20px;
	left: 67px;
	border-width: 0 14px 20px 14px;
	border-style: solid;
	border-color: transparent transparent rgba(0, 0, 0, 0.15) transparent;
}

.notice_list::after {
	content: "";
	position: absolute;
	top: -18px;
	left: 69px;
	border-width: 0 12px 18px 12px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}

.scrollable-text {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.scrollable-text p {
	display: inline-block;
	white-space: nowrap;
	transform: translateX(0);
}

.scrollable-text:hover p {
	transform: translateX(-100%);
	transition: transform 5s linear;
}

.scrollable-text p {
	transition: none;
}

.note_list p, .notice_list p {
	margin: 0px;
}

.notice_list tr:hover, .note_list tr:hover {
	background-color: #f7f7f7; 
}

.mc tr:hover {
	background-color: transparent;
}

.notice_list h4 {
	color: #5E3A47; 
	margin: 0 0 1rem; 
}

.mc th {
	background-color: #f2f2f2;
	color: #616161;
}

.mc td, th{
	border: 1px solid #e1e1e1; 
}
.content-box {
    border: 1px solid #e1e1e1; 
    padding: 15px; 
    background-color: white; 
    height: 260px; 
}